# Системные файлы
.DS_Store
Thumbs.db

# Лог-файлы
*.log
logs/
npm-debug.log*

# Кэши IDE
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# ОС
*.swp
*.lock
*.bak
*.tmp
*.old
*.orig
*.rej

